:root {
  --colorPrimario: #007bff;
  --colorSecundario: #dc3545;
}

.contenedor_app {
  margin: 1rem auto;
  display: flex;
  padding: 1rem;
  width: 80%;
  min-height: 40rem;
  background: #c7c7c7;
}

.contenedor__interno {
  float: left;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 20%;
}

.contenedor--listado--tareas {
  background: #fff;
  width: 80%;
}

.contenedor--listado--tareas h1 {
  display: block;
  width: auto;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #c7c7c7;
}

.listado_tareas {
  float: left;
  width: 100%;
}

.listado_tareas th {
  padding: 0.5rem 0;
}

.cabecera__tabla tr {
  background: var(--colorPrimario);
  color: #fff;
}

.contenedor__interno .listado_tareas tr:nth-child(2n) {
  background: #c7c7c7;
}

.cuerpo__tabla th {
  font-weight: normal;
}

.icono__tarea:hover {
  cursor: pointer;
}

.contenedor__botones {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.input__form {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.boton__tarea {
  float: left;
  padding: 8px 12px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}

.boton__tarea:hover {
  cursor: pointer;
  background: transparent;
}

.crear--tarea {
  background: var(--colorPrimario);
}

.borrar--tarea {
  background: var(--colorSecundario);
}

@media (max-width: 991px) {
  .contenedor_app {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 600px) {
  .listado_tareas {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .contenedor_app {
    flex-wrap: wrap;
  }

  .contenedor__interno {
    width: 100%;
  }
}
